<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Détails - ADMIN</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="scanPortProject" />
<meta name="author" content="rms" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

</head>

<body>
	<div>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#"><span>Port Analyser</span></a>
					</div>
					<ul class="nav navbar-nav">
						<li><a th:href="@{/admin}"><span
								class="glyphicon glyphicon-home"></span></a></li>
						<li class="active"><a th:href="@{/admin/users}">Utilisateurs</span></a>
						</li>
						<li><a th:href="@{/admin/logs}">Historique</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#"> <span
								class="glyphicon glyphicon-user"> <span
									th:text="${email}"></span>
							</span> <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#" th:text="${fullname}"> </a></li>
								<li role="separator" class="divider"></li>
								<li><a th:href="@{/login?logout}"><span
										class="glyphicon glyphicon-log-in"></span> Se déconnecter</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="container">
		<h6>
			<span class="glyphicon glyphicon-time" aria-hidden="true"></span> <strong>DERNIERE
				CONNEXION: </strong><cite title="last connection"
				th:text="${LastSessionDate}"></cite>
		</h6>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Identité de la personne</h3>
					</div>
					<div class="panel-body">
						<address>
							<h2 th:text="${user.person.firstname} + ${' '} + ${user.person.lastname}">
								<strong></strong>
							</h2>
							<abbr th:text="${user.person.address}"></abbr><br /> <abbr
								title="Phone" th:text="${user.person.telephone}"></abbr> <br />
							<a href="mailto:#" th:text="${user.person.email}"></a>
						</address>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" th:text="${'Infos de compte (#id: '} + ${user.id} + ${')'}"></h3>
					</div>
					<div class="panel-body">
						<ul>
							<li th:text="${'Login:'} + ${' '} + ${user.username}"></li>
							<li th:each="role : ${user.roles}" th:text="${'Rôle:'} + ${' '} + ${role.roleName}"></li>
						</ul>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Sessions de connexion</h3>
					</div>
					<div class="panel-body">
						<table class="table table-sm">
							<thead>
								<tr>
									<th scope="col">#id</th>
									<th scope="col">Date/heure connexion</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="s : ${sessionInfo}">
									<th scope="row" th:text="${s.id}"></th>
									<td><span class="badge" th:text="${s.createdDate}"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>